<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>卖家端商品后台登陆</title>

	<!--- CSS --->
	<link rel="stylesheet" href="style.css" type="text/css" />


	<!--- Javascript libraries (jQuery and Selectivizr) used for the custom checkbox --->

	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="selectivizr.js"></script>
		<noscript>
			<link rel="stylesheet" href="fallback.css"/>
		</noscript>
		<![endif]-->

	</head>

	<body>
		<div id="container">
			<form action="http://985qpe.natappfree.cc/sell/seller/loginByAccount">
				<div class="login">LOGIN</div>
				<div class="username-text">Username:</div>
				<div class="password-text">Password:</div>
				<div class="username-field">
					<input type="text" name="userName" value="admin" />
				</div>
				<div class="password-field">
					<input type="password" name="password" value="admin" />
				</div>
				<input type="checkbox" name="remember-me" id="remember-me" /><label for="remember-me">Remember me</label>
				<div class="forgot-usr-pwd">Forgot <a href="#">username</a> or <a href="#">password</a>?</div>
				<input type="submit" name="submit" value="GO" />
			</form>
		</div>
	</body>
</html>
